services:
  kali:
    image: kalilinux/kali-rolling:latest # https://hub.docker.com/r/kalilinux/kali-rolling
    # 環境が分からないので、platformは未指定
    container_name: kali
    stdin_open: true # 標準入力
    tty: true # ターミナル
    command: ["bash", "-lc", "sleep infinity"]
    volumes: # マウント先
      - ./workspace:/workspace
    cap_add: # 権限追加 https://docs.docker.com/engine/containers/run/#runtime-privilege-and-linux-capabilities
      - NET_ADMIN
    build: . # Dockerfile読み込み
    working_dir: /workspace